/* color */
/* font */
.loader {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: fixed;
  z-index: 20;
  -webkit-animation: disappear .5s 3s ease-in forwards;
          animation: disappear .5s 3s ease-in forwards;
}

.loader .loader i {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader .fa-wine-glass {
  font-size: 5rem;
  -webkit-animation: foodmvt 2s ease-in;
          animation: foodmvt 2s ease-in;
  color: #9356DC;
}

.loader .fa-hamburger {
  font-size: 5rem;
  -webkit-animation: foodmvt 2s 150ms ease-in;
          animation: foodmvt 2s 150ms ease-in;
  color: #FF79DA;
}

.loader .fa-utensils {
  font-size: 5rem;
  -webkit-animation: foodmvt 2s 200ms ease-in;
          animation: foodmvt 2s 200ms ease-in;
  color: #99E2D0;
}

.loader .fa-carrot {
  font-size: 5rem;
  -webkit-animation: foodmvt 2s 250ms ease-in;
          animation: foodmvt 2s 250ms ease-in;
  color: #FF79DA;
}

.loader .fa-glass-cheers {
  font-size: 5rem;
  -webkit-animation: foodmvt 2s 300ms ease-in;
          animation: foodmvt 2s 300ms ease-in;
  color: #9356DC;
}

@-webkit-keyframes foodmvt {
  5% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-transform: scale(0.8, 1.2);
            transform: scale(0.8, 1.2);
  }
  30% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  60% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes foodmvt {
  5% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-transform: scale(0.8, 1.2);
            transform: scale(0.8, 1.2);
  }
  30% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  60% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 20;
  }
  95% {
    opacity: 0.9;
    z-index: -1;
  }
  100% {
    z-index: -20;
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 20;
  }
  95% {
    opacity: 0.9;
    z-index: -1;
  }
  100% {
    z-index: -20;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .loader {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    position: fixed;
    z-index: 20;
    -webkit-animation: disappear .5s 3s ease-in forwards;
            animation: disappear .5s 3s ease-in forwards;
  }
  .loader .loader i {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .loader .fa-wine-glass {
    font-size: 3.5rem;
    -webkit-animation: foodmvt 3s ease-in;
            animation: foodmvt 3s ease-in;
    color: #9356DC;
  }
  .loader .fa-hamburger {
    font-size: 3.5rem;
    -webkit-animation: foodmvt 3s 150ms ease-in;
            animation: foodmvt 3s 150ms ease-in;
    color: #FF79DA;
  }
  .loader .fa-utensils {
    font-size: 3.5rem;
    -webkit-animation: foodmvt 3s 200ms ease-in;
            animation: foodmvt 3s 200ms ease-in;
    color: #99E2D0;
  }
  .loader .fa-carrot {
    font-size: 3.5rem;
    -webkit-animation: foodmvt 3s 250ms ease-in;
            animation: foodmvt 3s 250ms ease-in;
    color: #FF79DA;
  }
  .loader .fa-glass-cheers {
    font-size: 3.5rem;
    -webkit-animation: foodmvt 3s 300ms ease-in;
            animation: foodmvt 3s 300ms ease-in;
    color: #9356DC;
  }
  @-webkit-keyframes foodmvt {
    5% {
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
    }
    20% {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(-5%);
              transform: translateX(-5%);
      -webkit-transform: scale(0.8, 1.2);
              transform: scale(0.8, 1.2);
    }
    30% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    60% {
      -webkit-transform: translateY(40%);
              transform: translateY(40%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes foodmvt {
    5% {
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
    }
    20% {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    25% {
      -webkit-transform: translateX(-5%);
              transform: translateX(-5%);
      -webkit-transform: scale(0.8, 1.2);
              transform: scale(0.8, 1.2);
    }
    30% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    60% {
      -webkit-transform: translateY(40%);
              transform: translateY(40%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @-webkit-keyframes disappear {
    0% {
      opacity: 1;
      z-index: 20;
    }
    95% {
      opacity: 0.9;
      z-index: -1;
    }
    100% {
      z-index: -20;
      opacity: 0;
    }
  }
  @keyframes disappear {
    0% {
      opacity: 1;
      z-index: 20;
    }
    95% {
      opacity: 0.9;
      z-index: -1;
    }
    100% {
      z-index: -20;
      opacity: 0;
    }
  }
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@-webkit-keyframes counter-clock {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(-2turn);
            transform: rotate(-2turn);
  }
}

@keyframes counter-clock {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(-2turn);
            transform: rotate(-2turn);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*-- FOOTER--*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  background-color: #353535;
  color: white;
}

.footer .footer__title {
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.footer__nav {
  margin-left: 30px;
}

.footer__nav-item {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer #footer__nav-item-4 {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

i {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 55px;
    width: 50%;
  }
  /*-- BOOKING--*/
  .booking__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking__info {
    margin-left: 30px;
  }
  /*-- EXPLANATION--*/
  .explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .explanation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explanation__num {
    left: -12px;
  }
  .explanation__button {
    width: 80%;
    margin: 0 0 15px 25px;
  }
  /*-- RESTAURANT CARD--*/
  .restaurant {
    /*-- HEART--*/
  }
  .restaurant__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant__title {
    margin-left: 35px;
  }
  .restaurant__card {
    margin-left: 35px;
    width: 300px;
  }
  .restaurant__card-img-1, .restaurant__card-img-2, .restaurant__card-img-3, .restaurant__card-img-4 {
    height: 150px;
  }
  .restaurant__card-img-1 {
    -o-object-position: left bottom;
       object-position: left bottom;
  }
  .restaurant__card-img-2 {
    -o-object-position: 0px -137px;
       object-position: 0px -137px;
  }
  .restaurant__card-img-3 {
    -o-object-position: 0px -50px;
       object-position: 0px -50px;
  }
  .restaurant__card-img-4 {
    -o-object-position: 0px -50px;
       object-position: 0px -50px;
  }
  .restaurant__card-icon {
    right: 13.5%;
    top: 76.8%;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .header__logo {
    height: 75px;
    width: 40%;
  }
  /*-- BOOKING--*/
  .booking__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .booking__info {
    margin-left: 35px;
  }
  .booking .btn-gradient {
    margin-right: 150px;
  }
  /*-- EXPLANATION--*/
  .explanation__wrap {
    margin-left: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explanation__num {
    left: -11px;
  }
  .explanation__button {
    width: 90%;
    margin: 0 15px 20px 18px;
  }
  /*-- RESTAURANT CARD--*/
  .restaurant {
    /*-- HEART--*/
  }
  .restaurant__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant__title {
    margin-left: 30px;
  }
  .restaurant__card {
    margin-left: 10%;
    width: 80%;
  }
  .restaurant__card-img-1, .restaurant__card-img-2, .restaurant__card-img-3, .restaurant__card-img-4 {
    height: 200px;
  }
  .restaurant__card-img-1 {
    -o-object-position: 0px -150px;
       object-position: 0px -150px;
  }
  .restaurant__card-img-2 {
    -o-object-position: 0px -330px;
       object-position: 0px -330px;
  }
  .restaurant__card-img-3 {
    -o-object-position: 0px -175px;
       object-position: 0px -175px;
  }
  .restaurant__card-img-4 {
    -o-object-position: 0px -175px;
       object-position: 0px -175px;
  }
  .restaurant__card-icon {
    top: 80%;
    right: 8%;
  }
}

@media screen and (min-width: 993px) {
  .header__logo {
    height: 100px;
    width: 28%;
  }
  /*-- BOOKING--*/
  .booking__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .booking__info {
    margin-left: 40px;
  }
  .booking .btn-gradient {
    margin: 30px 80px 25px 0;
  }
  /*-- EXPLANATION--*/
  .explanation__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 30px;
  }
  .explanation__num {
    margin-left: 55px;
    left: -63px;
  }
  .explanation__button {
    width: 29%;
    padding: 20px;
    border-radius: 25px;
    margin-left: 25px;
  }
  .explanation__icon {
    font-size: 18px;
  }
  /*-- RESTAURANT CARD--*/
  .restaurant {
    /*-- HEART--*/
  }
  .restaurant__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
  }
  .restaurant__title {
    margin-left: 30px;
  }
  .restaurant__card {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 45%;
  }
  .restaurant__card-img-1, .restaurant__card-img-2, .restaurant__card-img-3, .restaurant__card-img-4 {
    height: 150px;
  }
  .restaurant__card-img-1 {
    -o-object-position: 0px -165px;
       object-position: 0px -165px;
  }
  .restaurant__card-img-3 {
    -o-object-position: 0px -175px;
       object-position: 0px -175px;
  }
  .restaurant__card-img-4 {
    -o-object-position: 0px -175px;
       object-position: 0px -175px;
  }
  .restaurant__card-icon {
    top: 76.8%;
    right: 9.5%;
  }
}

@media screen and (max-width: 767px) {
  .header__return {
    top: 4%;
    left: 10%;
  }
  .menu__image {
    width: 100%;
    height: 200px;
  }
  .menu__title {
    margin: 15px 0 0 18px;
  }
  /*-- HEART--*/
  .menu__title-icon {
    top: 2%;
    left: 89%;
  }
  /*-- CARDS--*/
  .menu__choices-title {
    margin: 30px 0 20px 18px;
  }
  .menu__card {
    width: 90%;
    margin-left: 18px;
  }
  .menu__price {
    padding: 0 8px 8px 50px;
  }
  .menu__text {
    width: 75%;
  }
  .menu__card:hover .menu__text {
    width: 52%;
  }
  .menu__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .header__return {
    top: 3%;
    left: 5%;
  }
  .menu__image {
    height: 200px;
  }
  .menu__title {
    margin: 15px 0 0 40px;
  }
  /*-- HEART--*/
  .menu__title-icon {
    top: 2.2%;
    left: 92.5%;
  }
  /*-- CARDS--*/
  .menu__choices-title {
    margin: 30px 0 20px 40px;
  }
  .menu__card {
    width: 90%;
    margin-left: 40px;
  }
  .menu__text {
    width: 88%;
  }
  .menu__price {
    padding: 0 8px 8px 50px;
  }
  .menu__description {
    font-size: 14px;
  }
  .menu__card:hover .menu__text {
    width: 70%;
  }
}

@media screen and (min-width: 993px) {
  * {
    padding: 0;
    margin: 0;
  }
  .header__return {
    top: 4.5%;
    left: 2%;
  }
  .menu__image {
    height: 200px;
  }
  .menu__title {
    margin: 15px 0 0 35px;
  }
  /*-- HEART--*/
  .menu__title-icon {
    top: 6.5%;
    left: 97.2%;
  }
  /*-- CARDS--*/
  .menu__choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__entrees,
  .menu__main-dish,
  .menu__dessert {
    width: 100%;
  }
  .menu__choices-title {
    width: 85%;
    margin: 30px 0 20px 35px;
  }
  .menu__card {
    width: 90%;
    margin-left: 35px;
  }
  .menu__text {
    width: 82%;
  }
  .menu__price {
    padding: 5px 8px 8px 50px;
  }
  .menu__card:hover .menu__text {
    width: 55%;
  }
  .menu__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 0px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__menu .header__return {
    display: inline-block;
    position: absolute;
  }
  .header__menu i {
    color: black;
  }
  .header__menu .header__title {
    text-align: center;
    margin: 15px 0;
  }
  .menu__containers {
    position: relative;
    background-color: #EAEAEA;
  }
  .menu__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__image {
    width: 100vw;
    z-index: 10;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
  }
  /*-- HEART--*/
  .menu__title-icon {
    display: inline-block;
    position: absolute;
    font-size: 20px;
  }
  /* css for solid heart before the hover */
  .solid {
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for solid heart after the hover */
  .menu__title-icon:hover .solid {
    opacity: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for the outline heart before the hover */
  .outline {
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /* css for the outline heart after the hover */
  .menu__title-icon:hover .outline {
    opacity: 0;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  /*-- CARDS--*/
  .menu__choices-title {
    font-weight: 400;
    padding-bottom: 3px;
    border-bottom: solid 3px;
    -o-border-image: linear-gradient(to right, #99e2d0 10%, #EAEAEA 10%) 100% 1;
       border-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #99e2d0), color-stop(10%, #EAEAEA)) 100% 1;
       border-image: linear-gradient(to right, #99e2d0 10%, #EAEAEA 10%) 100% 1;
  }
  .menu__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 12px;
    -webkit-box-shadow: 5px 5px 2px gray;
            box-shadow: 5px 5px 2px gray;
    -webkit-animation: appear ease-in-out 0.8s;
            animation: appear ease-in-out 0.8s;
  }
  .menu__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 25%;
  }
  .menu__text {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .menu__item {
    display: inline-block;
    width: 100%;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 5px 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu__description {
    display: inline-block;
    width: 100%;
    margin-left: 5px;
    padding: 0 5px 8px 5px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu__holder {
    width: 25%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #99E2D0;
  }
  .menu__card:hover .menu__text {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
  }
  .menu__card:hover .menu__icon {
    -webkit-animation: counter-clock 1000ms ease-in-out forwards;
            animation: counter-clock 1000ms ease-in-out forwards;
  }
  .menu__holder .menu__icon {
    -webkit-animation: clockwise 1000ms ease-in-out forwards;
            animation: clockwise 1000ms ease-in-out forwards;
  }
  .menu__icon {
    color: #fff;
  }
  /* css for card ease in */
  #card-1 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  #card-2 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  #card-3 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  #card-4 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  #card-5 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  #card-6 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  #card-7 {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  #card-8 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  #card-9 {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  /* order button */
  .menu__order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #EAEAEA;
  }
  .menu__order-btn .btn-gradient {
    cursor: pointer;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 10px 0 40px 0;
    font-size: 14px;
    color: white;
    border: none;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    padding: 13px 60px;
  }
  .menu__order-btn .btn-gradient:hover {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
}

@media screen and (min-width: 300px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__title .header__logo {
    padding: 15px;
    margin: 0;
  }
  /*-- LOCATION--*/
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 16px;
    background-color: lightgray;
    width: 100vw;
    padding: 3px;
    -webkit-box-shadow: inset 1px 5px 14px -14px gray;
            box-shadow: inset 1px 5px 14px -14px gray;
  }
  .location__wrapper {
    padding: 10px;
    margin-left: 38px;
  }
  .location i {
    padding-right: 20px;
  }
  .location__search {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    border: none;
    font-weight: 900;
    background-color: lightgray;
  }
  .location__search:focus {
    border: none;
    outline: none;
  }
  /*-- BOOKING--*/
  .booking {
    text-align: center;
  }
  .booking__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EAEAEA;
  }
  .booking__title {
    padding: 20px 0;
  }
  .booking__info {
    width: 80%;
    font-weight: 300;
    padding-bottom: 20px;
  }
  .booking .btn-gradient {
    cursor: pointer;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 10px 0 40px 0;
    font-size: 14px;
    color: white;
    border: none;
    -webkit-box-shadow: 5px 5px 5px gray;
            box-shadow: 5px 5px 5px gray;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
  .booking .btn-gradient:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  /*-- EXPLANATION--*/
  .explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .explanation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .explanation__title {
    margin-left: 30px;
    padding: 35px 0 15px 0;
    font-weight: 500;
    font-size: 20px;
  }
  .explanation span {
    display: inline-block;
  }
  .explanation__num {
    color: white;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    background-color: #9356DC;
    position: absolute;
  }
  .explanation__button {
    background-color: #EAEAEA;
    position: relative;
    border: none;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    -webkit-box-shadow: 2px 2px 2px gray;
            box-shadow: 2px 2px 2px gray;
  }
  .explanation__button:hover {
    background-color: #E6D1F2;
  }
  .explanation__button:hover .explanation__icon {
    color: #9356DC;
  }
  .explanation__icon {
    padding: 0 10px;
    width: 30px;
  }
  /*-- RESTAURANT CARD--*/
  .restaurant {
    background-color: #EAEAEA;
    /*-- HEART--*/
    /* css for solid heart before the hover */
    /* css for solid heart after the hover */
    /* css for the outline heart before the hover */
    /* css for the outline heart after the hover */
  }
  .restaurant__title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .restaurant__card {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    height: auto;
    -webkit-box-shadow: 2px 5px 5px lightgray;
            box-shadow: 2px 5px 5px lightgray;
  }
  .restaurant__card-info {
    margin-left: 10px;
    padding: 10px 0 15px 0;
  }
  .restaurant h2 {
    font-weight: 500;
    font-size: 16px;
  }
  .restaurant h4 {
    margin-top: 5px;
    font-weight: 200;
    font-size: 14px;
  }
  .restaurant__card-img-1, .restaurant__card-img-2, .restaurant__card-img-3, .restaurant__card-img-4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 8;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant__card-label {
    background-color: #99E2D0;
    margin: 0;
    width: 75px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 8px;
  }
  .restaurant__card-icon {
    display: inline-block;
    position: absolute;
    font-size: 20px;
  }
  .restaurant .solid {
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurant .restaurant__card-icon:hover .solid {
    opacity: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurant .outline {
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
  .restaurant .restaurant__card-icon:hover .outline {
    opacity: 0;
    -webkit-transition: opacity 3000ms;
    transition: opacity 3000ms;
  }
}

h1 {
  font-family: "Shrikhand", sans serif;
}

h2 {
  font-family: "Roboto", sans serif;
}

h3 {
  font-family: "Roboto", sans serif;
  text-transform: uppercase;
  font-size: 14px;
}

h4 {
  font-family: "Roboto", sans serif;
}

p {
  font-family: "Roboto", sans serif;
}

#exp {
  font-family: "Roboto", sans serif;
}

.location {
  font-family: "Roboto", sans serif;
}

.button {
  font-family: "Roboto", sans serif;
}

.restaurant__card-label {
  font-family: "Roboto", sans serif;
}

.footer__title {
  font-family: "Shrikhand", sans serif;
}

.footer__nav {
  font-family: "Roboto", sans serif;
}
/*# sourceMappingURL=main.css.map */